/** @format */

/* //// Utilities ////// */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 1.5em;
  padding: 80px 0 15px 0;
}

h2 {
  font-family: "Rufina", serif;
  font-size: 1em;
  margin: 55px 0px 5px 0;
}
h3 {
  font-family: "Abel", sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
}
p {
  font-family: "Abel", sans-serif;
  font-size: 0.75em;
  text-align: justify;
  line-height: 2.5;
  margin: 0;
}
i {
  font-size: 3em;
  color: #222;
}
li {
  color: #fff;
}

@media (min-width: 780px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

.active h2 {
  font-size: 6rem;
  color: #d11507;
  transition: ease 0.3s all;
  margin-top: 60px;
}

@media (max-width: 690px) {
  .active h2 {
    font-size: 3rem;
    color: #d11507;
  }
}

/* //////////// */
.btn {
  position: fixed;
  bottom: 10px;
  right: 5px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.landing__container {
  padding: 1em;
  text-align: left;
}

/* ////// Navegation ////// */

.page_header {
  background-color: #222;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 5;
}
#navegation_ul {
  list-style: none;
  margin: 0;
}
.navegation ul {
  display: inline;
}
.navegation li {
  float: left;
  list-style: none;
  padding-top: 25px;
}

.link {
  font-family: "Abel", sans-serif;
  margin: 30px 35px;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navegation li:hover {
  height: 80px;
  background: rgb(182, 182, 182);
  transition: ease 0.3s all;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 680px) {
  .page_header {
    height: 80px;
  }
  .link {
    font-size: 1.1rem;
    margin: 5px;
  }
  #navegation_ul {
    padding-left: 1px;
    margin: 0;
  }
  .navegation_ul li {
    float: none;
    margin: 0;
    padding: 10px 0;
  }
  .navegation_ul li:hover {
    height: 50px;
  }
}

.container-footer {
  background-color: #222;
  font-family: "Abel", sans-serif;
  font-size: 1rem;
  text-align: start;
  height: 60px;
  margin: 0;
  padding-top: 15px;
  color: #fff;
}
